/*GENERAL CSS*/

body{
    font-family: 'Lato', sans-serif;
}

/*HEADER SECTION*/

#header{
    background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.navigation li{
    display: inline-flex;
    margin: 10px 10px;
    
}

.navbar-default{
    background-color: white;
    border: none;
    margin-top: 20px;
    background-color: transparent;  
}



.navbar-default .navbar-nav li a {
    color: white;
    font-size: 16px;
}

.navbar-default .navbar-nav li a:hover {
    color: #fcc500;
    font-size: 16px;
}

#main-image{
    background-image: url(../images/laptop-2838917_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 700px;
}

#logo{
   font-family: 'Oleo Script', cursive;
  color:#fcc500;
  font-size: 45px; 
}

/*OFFER SECTION*/

#offer h1{
    margin-top: 40px;
    margin-bottom: 60px;
}

/*PROJECTS SECTION*/

#projects{
    margin-top: 60px;
    background-color: rgb(242, 243, 244);
    padding-bottom: 60px;
}

#projects h1{
    margin-bottom: 60px;
}


.card-text{
    width: 350px;
    text-align: center;
    margin-top: 20px;
}

.card-img-top{
    border: solid white 6px;
    transition: transform 0.6s ease-in-out;
}

.card-img-top:hover{
    transform: scale(0.9);
    opacity: 0.9;
}



/*CONTACT SECTION*/

.content-header{
  font-family: 'Oleo Script', cursive;
  color:#fcc500;
  font-size: 45px;
}

.section-content{
  text-align: center; 

}
#contact{
    
  font-family: 'Teko', sans-serif;
  padding-top: 60px;
  width: 100%;
/*  width: 100vw;*/
  height: 550px;
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;    
}
.contact-section{
  padding-top: 40px;
}
.contact-section .col-md-6{
  width: 50%;
}

.form-line{
  border-right: 1px solid #B29999;
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
    height: 135px;
}

.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;

}

/*FOOTER SECTION*/

footer{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

footer i{
    margin-right: 40px;
    transition: transform 0.5s ease-in-out;
}

footer i:hover{
    transform: scale(1.6);
    opacity: 0.9;
}
